.hidden{
    display:none;
}

#center{
    color:white;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#clock{
    margin-bottom:20px;
    text-align: center;
    font-size : 150px;
    color: white;
}
#login-form{
    text-align: center;
    
}

.infor{
    background:none;
    border:none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    font-size: 30px;
    font-style: italic;
    color:white;
}

input::placeholder{
    color:white;
}
#greeting {
    margin-top:0;
    color:white;
    font-size: 60px;

}

#todo-form{
    text-align: center;
}
#todo-list{
    margin-top: 20px;
    color:white;
    text-align: center;
    font-size:30px;
}
.todos{
    color:white;
    background:none;
    border:none;
    border-bottom: 3px solid white;
    margin-top: 40px;
    font-size: 30px;
}


#quote {
    margin-top : 80px;
    color: white;
    font-size : 30px;
}
#x_btn{
    background: none;
    border:none;
}
#weather{
    color:black;
}

@media (max-width:768px){
    img{
        width:90%;
        padding:20px;
    }
    #clock{
        font-size : 40px;   
    }
    #greeting {
        font-size : 50px;
    }
    #quote {

        margin-top :60px;
        font-size : 15px;
    }

}